section.career-detail-section
    .container
        .row.career-detail
            .col-lg-8
                .content
                    h2.title-h1-grey Career
                    p.mota Bussiness Man 
                    .full-content
                        p 
                            strong Job Level
                            br
                            | Experienced (Non - Manager) 
                        p 
                            strong Salary
                            br
                            | Competitive 
                        p 
                            strong Job Description
                            |
                        p - Customer consultant - Solving customer concerns and questions, supporting customers to complete the contract. 
                        p - Synthesize analysis of market situation report according to company regulations 
                        p - Handling information of customers, agents about products, policies and complaints of customers. 
                        p - Participate in marketing activities according to the company's program to promote general sales. 
                        p 
                            strong Job Requirement: 
                            
                        p - Graduated from college or higher in economics or related economics 
                        p - Fluent in English 
                        p - Ability to capture and cover work 
                        p - Good knowledge and expertise in marketing. Has analytical and synthesis skills. 
                        p 
                            strong Benefits 
                            
                        p - Salary: 10tr-12tr, bonus according to the company's regime 
                        p - Participate in insurance in accordance with the law 
                        p - Enjoy big holidays in the year and corporate holidays 
                        p - Professional, open and friendly working environment, creating the best conditions for each individual to affirm and promote their capabilities. 
                        p - Having a plan to train and train yourself in accordance with the aspirations, experiences and skills of each member as well as the general development orientation of the Company. 
                        p - Having remuneration policies worthy of contributions from members; promote fairness and transparency and always encourage creativity and innovation.
                    a.main-button(href="#") Apply for job
            .col-lg-1
            .col-lg-3
                .other-news
                    h2.big-title Other jobs
                    .item
                        h3
                            a(href="#") Bussiness Man
                        span Full time - Ho Chi Minh Head Office
                    .item
                        h3
                            a(href="#") HR Excutive
                        span Full time - Followed company’s assignment
                    .item
                        h3
                            a(href="#") Accountant
                        span Full time - Ho Chi Minh Head Office
                    .item
                        h3
                            a(href="#") Designer
                        span Full time - Followed company’s assignment
                        
                        





