footer(setBackground='./img/footer-bg.png')
	


	.footer-wrapper-bottom
		.container
			.row
				.col-lg-3.col-6.nav
					h2.title about sunshine group
					nav
						a(href="#") Overview
						a(href="#") History of development
						a(href="#") Why choose Sunshine Group
						a(href="#") Vision - Mission
						a(href="#") Core values
						a(href="#") Quality Policy
						a(href="#") E-Brochure
				.col-lg-3.col-6.nav
					h2.title bussiness field
					nav
						a(href="#") Consult and design solutions A
						a(href="#") Import, distribute, install of industrial kitchen equipments
						a(href="#") Produce customized stainless steel equipments
						a(href="#") Import and distribute food & beverage smallwares and tools
						a(href="#") Provide skill trainings for the F&B human ressources
				.col-lg-3.col-6.nav
					h2.title product
					nav
						a(href="#") Cooking equipment
						a(href="#") Warming equipment
						a(href="#") Food preparation
						a(href="#") Bakery & Pizza equipment
						a(href="#") Beverage equipment
						a(href="#") Cooling equipment
						a(href="#") Stewarding equipment
						a(href="#") Laundry equipment
						a(href="#") Stainless steel fabrication
						a(href="#") Cambro
						a(href="#") GB chemicals
				.col-lg-3.col-6.nav
					nav.project
						a(href="#") project
						a(href="#") new
						a(href="#") partners
						a(href="#") recruitment
						a(href="#") contact
						.button 
							a(href="#") 
								em.mdi.mdi-facebook.fb
							a(href="#")
								em.mdi.mdi-youtube.yt
							a(href="#")
								em.mdi.mdi-instagram.in
			em.mdi.mdi-chevron-up#gotop
			.copy-right
				.left
					p Copyright © 2019 Sunshine Group. All Rights Reserved. Designed by 
						span 
							a(href="https://canhcam.vn") Cánh Cam.
				.right 
					ul 
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Terms of use 
						li
							a(href="#") Sitemap
			