header
	height: 80px
	position: fixed
	top: 0
	left: 0
	width: 100vw
	z-index: 121
	background: rgba(#000000,.8)
	.container-13
		display: flex
		justify-content: space-between
		align-items: center
	.header-sunshine
		height: 100%
		.container
			display: flex
			justify-content: space-between
			align-items: center
			position: relative
			height: 100%
	.header-wrapper-left
		.navbrand
			a
				img
					max-width: 100%
					height: auto
		@media screen and(max-width:1360px)
			padding-top: 0
			.navbrand
				a
					img
						width: 80%
		@media screen and(max-width:576px)
			.navbrand
				a
					img
						width: 70%
	.header-wrapper-right
			display: flex
			justify-content: center
			align-items: center
	.language-wrapper
		margin: 0 0
		padding: 0 20px
		@media screen and(max-width:1025px)
		.language-list
			list-style-type: none
			padding: 0
			margin: 0
			li
				text-transform: uppercase
				display: inline-block
				transition: .3s all ease-in-out
				&.active
					span,a
						color: #ff0000
				&:hover
					a
						color: $main
				a
					transition: .3s all ease-in-out
					text-decoration: none
					color: $main
					font-weight: 400
				span
					position: relative
					z-index: 10
					padding: 0 
					line-height: 22px
					font-weight: 400
					color: $main
			.has-sub
				position: relative
				&:hover
					span,a
						color: #ffffff
						z-index: 119
						&:after	
					.nav-sub			
						left: -16px
						top: -10px
						padding: 40px 30px 0 30px 
						opacity: 1
						filter: none
						background: rgba(#000000,.8)
						transition: opacity .3s ease, z-index .3s ease .1s
						
					
						li
							display: flex
							justify-content: center
							align-items: center
							line-height: 40px
							height: 40px
							width: 100%
							display: block
							a
								line-height: 30px
								height: 30px
								width: 100%
								display: flex
								justify-content: center
								align-items: center
								color: #929598
								&:after
									display: none
							&:hover
								a
									color: #ffffff
				span,a
					position: relative
				span
					&:after
						position: absolute
						transition: .3s all ease-in-out
						font-family: 'Material Design Icons'
						content: '\f140'
						font-size: 20px
						transform: translateY(50%)
						bottom: 50%
						display: inline-block
						right: -20px
				ul
					max-height: 230px
					position: absolute
					left: 0
					top: 0
					width: 120%
					margin-left: -10%
					z-index: 118
					overflow: hidden
					background: $main
					opacity: 0
					transition: opacity .3s ease,max-height .3s ease .3s
					li
						display: none
						text-align: center
						padding: 0
						line-height: 50px
						margin: 0
						a
							color: #ffffff
							transition: all .3s ease 0s
	.navigation-wrapper
		transition:  transform .3s ease-in-out
		&.active
			display: block
			overflow: visible
			z-index: 12
			pointer-events: auto
			opacity: 1
		ul
			list-style-type: none
			padding: 0
			margin: 0
			.dropdown
				display: none
			li
				line-height: 70px
				margin: 0 8.2px
				display: inline-block
				&.active
					span,a
						color: #ffffff
					
				&:hover
					a
						color: #ffffff
				a
					padding: 0 10px
					transition: .3s all ease-in-out
					text-decoration: none
					color: #cccccc
					font-weight: 400
					position: relative
					z-index: 99
					i 
						position: absolute
						top: 53%
						transform: translateY(-50%)
						right: -15px
						font-size: 22px
						color: #cccccc				
				span
					position: relative
					z-index: 10
					padding: 0 
					line-height: 22px
					font-weight: 400
					color: #cccccc
			li 
				position: relative
				.nav-sub
					z-index: 10
					padding: 60px 0 0
					top: 0
					left: 0 
					display: none
					flex-direction: column 
					align-items: center
					justify-content: center
					width: 110%
					background: rgba(#000000,.8)
					position: absolute
					transition: all .4s ease-in-out
					transition: opacity .3s ease,z-index .3s ease .1s
					opacity: 0
					li
						line-height: 40px!important
						text-align: center
						width: 100%
						a
							display: block
							padding: 0 20px
							width: 100%
							color: #929598
						&:hover
							a 
								color: #ffffff
				&:hover 
					.nav-sub
						opacity: 1
						display: flex

			.has-sub
				position: relative
				display: inline-block
				// &:after
				// 	position: absolute
				// 	content: '\f140'
				// 	font-family: 'Material Design Icons'
				// 	font-size: 20px
				// 	right: -15px
				// 	top: 2px
				// 	color: #cccccc
				// 	transition: transform .3s ease
				.dropdown 
					display: none
				&:hover
					span,a,i
						color: #ffffff
						z-index: 14
					&:after
						z-index: 11
						color: #ffffff
					.nav-sub
						background: rgba(#000000,.8)
						opacity: 1
						filter: none
						pointer-events: auto
						transition: all .4s ease-in-out
						transition: opacity .3s ease,z-index .3s ease .1s
						li
							display: block
							a
								color: #929598
								text-transform: capitalize
								&:after
									display: none
							&:hover
								a
									color: #ffffff
				span,a
					position: relative
				span
				&:after
					bottom: 0
						
				ul
					max-height: 250px
					position: absolute
					left: 0
					top: 10px
					width: 120%
					margin-left: -10%
					z-index: 9
					overflow: hidden
					opacity: 0
					transition: opacity .3s ease,max-height .3s ease .3s
					li
						display: none
						text-align: center
						padding: 0
						line-height: 50px
						margin: 0
						a
							color: #ffffff
							transition: all .3s ease 0s
		@media screen and(max-width: 1360px)
			pointer-events: none
			position: static
			opacity: 1
			padding-top: 0
			width: 100vw
			padding-top: 20px
		
			z-index: -1
			transition: opacity .5s ease
			left: 0
			ul
				display: flex 
				justify-content: center
				align-items: center
				flex-direction: column
				li
					display: block
					text-align: center
					line-height: 40px
					.dropdown-toggle
					.nav-sub
						position: static!important
						display: none
						background: none!important
						transition: .3s all ease-in-out 
						padding: 0 

						li
							line-height: 40px 
						
				.has-sub
					text-align: center
					padding: 0 0
					display: block 
					line-height: 30px
					span,a
						&:after
							right: -20px
					
					ul
						padding: 0
						li
							line-height: 40px
						a
							text-align: center
						span
							text-align: center
			.search-wrapper-temp
				.searchbox
					input
						opacity: 1!important
						z-index: 99
	.search-wrapper-temp
		position: relative
		
		.search-toggle
			position: relative
			display: flex
			justify-content: center
			align-items: center
			width: 32px
			height: 32px
			transition: .3s all ease-in-out
			&:hover
				background: none
				&:after
					color: $main
			&:after
				transition: .3s all ease-in-out
				font-family: 'Material Design Icons'
				content: '\f349'
				font-size: 20px
				display: flex
				position: absolute
				left: 0
				bottom: 0
				height: 32px
				width: 32px
				color: #ffffff
				background: none
				justify-content: center
			@media screen and(max-width:1600px)
				margin-left: 16px
			@media screen and(max-width:1360px)
				margin-top: 10px
				display: none
		.searchbox
			position: absolute
			display: block
			justify-content: center
			align-items: center
			// padding-top: 25px
			top: 15px
			right: 0
			input
				background: rgba(0,0,0,.8)
				padding: 0 16px
				position: absolute
				top: 0
				height: 31px
				right: 0
				opacity: 0
				cursor: pointer
				pointer-events: none
			
				border: none
				color: #ffffff
				z-index: -1
				transition: opacity .3s ease-in-out
				border-bottom: 1px solid #ffffff
				&:focus
					outline: none
			button
				color: #ffffff
				background: none
				width: 32px
				height: 30px
				opacity: 0
				cursor: pointer
				border: none
				pointer-events: none
				z-index: 1
				position: absolute
				top: 0
				right: 0
				transition: opacity .3s ease-in-out, background .3s ease-in-out
				// &:hover
				// 	background: #ffffff
				// 	em
				// 		color: #333333
				em
					color: #ffffff
					font-size: 20px
				&:focus
					outline: none
			@media screen and(max-width:1025px)
				margin-top: 20px
		&:hover
			.search-toggle
				&:after 
					display: none
			.searchbox
				input,button
					opacity: 1
					pointer-events: auto
					z-index: 1
					input
						cursor: auto
					button
						cursor: pointer
				
			

	.group-link-wrapper
		margin-left: 10px
		a
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer
			padding: 6px 15px
			font-size: 14px
			color: #ffffff
			font-weight: 400
			border-top: 1px solid #ffffff
			border-bottom: 1px solid #ffffff
			position: relative
			&::before, &::after
				content: ''
				position: absolute
				top: 0
				bottom: 0
				width: 2px
				background-color: #ffffff
				transform: scaleY(0)
				transition: transform 0.5s ease
			&::before
				left: 0px
				transform-origin: center top
			&:hover::before
				transform-origin: center bottom
				transform: scaleY(1)
			&::after
				right: 0px
				transform-origin: center bottom
			&:hover::after
				transform-origin: center top
				transform: scaleY(1)
			span
				
		@media screen and(max-width:1025px)
			margin-top: 5px
	.mobile-toggle
		display: none
		em
			font-size: 30px
			color: #ffffff
		@media screen and(max-width:1360px)
			display: block
			margin-left: 30px
	.mobile-wrapper
		opacity: 1
		display: none
		height: 100%
		overflow: scroll
		@media screen and(max-width:1360px)
			background: rgba(#000000,.9)
			top: 60px
			display: flex
			justify-content: flex-start
			align-items: center
			flex-flow: column
			height: 100vh
			z-index: 116
			pointer-events: auto
			position: fixed
			right: 0
			opacity: 0
			width: 0
			transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
			.navigation-wrapper
				.nav-sub
					display: none!important
					overflow: visible
					z-index: 12
					pointer-events: auto
					transition: .3s
					opacity: 0
			&.active
				pointer-events: auto
				opacity: 1
				width: 100%
				.navigation-wrapper
					.has-sub
						position: relative
					.dropdown
						display: block
						em 
							color: #ffffff 
							font-size: 20px
					i
						display: none
					ul
						overflow: visible
						z-index: 12
						pointer-events: auto
						opacity: 1
						.dropdown 
							position: absolute 
							width: 30px 
							height: 30px 
							display: flex 
							justify-content: center
							align-items: center
							right: -30px 
							z-index: 99
							top: 5px
						.nav-sub 
							i 
								display: none
							&.active 
								display: flex!important
	@media screen and(max-width:1360px)
		height: 60px
		.header-wrapper-right
			margin-left: auto

	@media screen and(max-width:1025px)
		.search-wrapper
			border: none
			margin-bottom: 20px
			.searchbox
				button
					em
						color: #ffffff
		.language-wrapper
			margin: 0
			border: none
		.navbrand
			a
				img
					width: 50%
	@media screen and(max-width:768px)
		.account-wrapper
			.account-wrapper-toggle
				li
					display: none
	@media screen and(max-width:576px)
		.search-wrapper
			padding: 0 16px
		.contact-wrapper
			padding: 0 16px
		.account-wrapper
			padding: 0 16px
		.wish-list-wrapper
			padding: 0 16px
		.cart-wrapper
			padding: 0 16px



.Module-149
	@media (max-width:1360px)
		.searchbox
			right: 50%
			transform: translateX(50%)
			border-bottom: 1px solid #ffffff
			background: none
			.searchinput
				border: none
				position: static
				height: 30px
				width: 300px
				opacity: 1!important
				pointer-events: auto
				z-index: 1
				background: none
		.searchbutton
			background: #ffffff
			position: static
			margin-left: -6px
			opacity: 1!important
			pointer-events: auto
			z-index: 1
			em
				color: #333333
	@media (max-width: 1025px)
		.searchbox
			margin-top: 50px