header
	section.header-sunshine
		.container-13
			.header-wrapper-left
				.navbrand
					a(href="/")
						img(src="./img/sunshine-logo.png", alt="")
			.header-wrapper-right
				.navigation-wrapper
					ul
						li.has-sub
							a(href="javascript:void(0)") About Sunshine Group
							ul.nav-sub
								li
									a(href="#") Who we are
								li
									a(href="#") what we do 
								li
									a(href="#") People
						li.has-sub
							a(href="javascript:void(0)") Business field
							ul.nav-sub
								li
									a(href="#") Who we are
								li
									a(href="#") what we do 
								li
									a(href="#") People
						li.has-sub
							a(href="javascript:void(0)") Product
						li
							a(href="javascript:void(0)") Project
						li
							a(href="javascript:void(0)") News
						li
							a(href="javascript:void(0)") Partners
						li
							a(href="javascript:void(0)") Recruitment
						li
							a(href="javascript:void(0)") Contact
				.search-wrapper-temp
					.search-toggle
					.searchbox
						input(placeholder="Tìm kiếm")
						button
							em.mdi.mdi-magnify
				.language-wrapper
					ul.language-list
						li.has-sub
							span EN
							ul.nav-sub
								li
									a(href="#") EN 
								li
									a(href="#") VN
				.group-link-wrapper
					.group-link-wrapper
						a(href="#") Sunshine Group
					.group-link-wrapper
			.mobile-toggle
				em.lnr.lnr-menu
			.mobile-wrapper
