header
	section.header-sunshine
		.container-13
			.header-wrapper-left
				.navbrand
					a(href="./")
						img(src="./img/sunshine-logo.png", alt="")
			.header-wrapper-right
				.navigation-wrapper
					ul
						li.has-sub.active
							a(href="./aboutus.html") About Sunshine Group
							ul.nav-sub
								li
									a(href="#") Who we are
								li
									a(href="#") what we do 
								li
									a(href="#") People
						li.has-sub
							a(href="./field-business.html") Business field
							ul.nav-sub
								li
									a(href="#") Who we are
								li
									a(href="#") what we do 
								li
									a(href="#") People
						li.has-sub
							a(href="./product-list.html") Product
						li
							a(href="./project.html") Project
						li
							a(href="./news.html") News
						li
							a(href="./customer.html") Customer
						li
							a(href="./career.html") Careers
						li
							a(href="javascript:void(0)") Recruitment
						li
							a(href="./contact.html") Contact
				.search-wrapper-temp
					.search-toggle
					.searchbox
						input(placeholder="Search")
						button
							em.mdi.mdi-magnify
				.language-wrapper
					ul.language-list
						li.has-sub
							span EN
							ul.nav-sub
								li
									a(href="#") FR
								li
									a(href="#") VN
				.group-link-wrapper
					.group-link-wrapper
						a(href="#")
							img(src="./img/cart-white.png", alt="")
							span Sunshine Shop
					.group-link-wrapper
			.mobile-toggle
				em.lnr.lnr-menu
			.mobile-wrapper
