section.project
    .nav-1
        .container
            .row
                .col-sm-12.col-lg-6
                    h1.title-h1-grey project
                    p Our motto is "Satisfying customers with safe, reliable and quality products and equipment"
                .col-sm-12.col-lg-6
                    nav.row.no-gutters
                        a(href="#") on going projects
                        a(href="#").active Completed Projects
                    select(data-nav)
                        option(value="/") overview
                        option(value="#") overview
                        option(value="#") overview
                        option(value="#" selected) overview
                        option(value="#") overview
                        option(value="#") overview
    .nav-2
        .container
            .row.no-gutters
                a(href="#") European kitchen
                a(href="#") Asia kitchen
                a(href="#") High-end hotel systems
                a(href="#") Food processing enterprise
                a(href="#") restaurants
                a(href="#") cafeterias of school
                a(href="#") cafeterias of enterprises
    .container  
        p.cate Categories          
        select(data-nav)
            option(value="/") overview
            option(value="#") overview
            option(value="#") overview
            option(value="#" selected) overview
            option(value="#") overview
            option(value="#") overview
    .project-1
        .container.project-list
            .swiper-container
                .swiper-nav
                    .btn-prev.mdi.mdi-chevron-left
                    .btn-next.mdi.mdi-chevron-right
                .swiper-wrapper
                    .swiper-slide
                        .imgbox
                            a(href="./project-detail.html" data-bg="./img/project/1.jpg")
                                img(src="./img/project/1.jpg", alt="")
                        .info
                            h3
                                a(href="./project-detail.html") Bakery pizza equipment
                    .swiper-slide
                        .imgbox
                            a(href="./project-detail.html" data-bg="./img/project/2.jpg")
                                img(src="./img/project/3.jpg", alt="")
                        .info
                            h3
                                a(href="./project-detail.html") Beverage equipment
                    .swiper-slide
                        .imgbox
                            a(href="./project-detail.html" data-bg="./img/project/3.jpg")
                                img(src="./img/project/4.jpg", alt="")
                        .info
                            h3
                                a(href="./project-detail.html") Cooling equipment
                    .swiper-slide
                        .imgbox
                            a(href="./project-detail.html" data-bg="./img/project/4.jpg")
                                img(src="./img/project/5.jpg", alt="")
                        .info
                            h3
                                a(href="./project-detail.html") Sofitel main equipment
                    .swiper-slide
                        .imgbox
                            a(href="./project-detail.html" data-bg="./img/project/5.jpg")
                                img(src="./img/project/1.jpg", alt="")
                        .info
                            h3
                                a(href="./project-detail.html") Stewarding equipment
                        
            .swiper-pagination
            .col-12.pages
                .modulepager
                    ul.pagination
                        li.active
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3




