section.home-news(setBackground='./img/news-bg.png')
	.container 
		h1.title-h1-white news 
		.news-wrapper 
			.news-slider 
				.swiper-container
					.swiper-wrapper
						.swiper-slide 
							figure 
								.img
									a(href="#")
										img(src="./img/home-news1.png", alt="")
								figcaption
									time 21.06.2019
									a.news-title(href="") Grilled meat on a gas stove harmful to health
						.swiper-slide 
							figure 
								.img
									a(href="#")
										img(src="./img/home-news2.png", alt="")
								figcaption
									time 21.06.2019
									a.news-title(href="") How to manage kitchen, industrial and collective kitchens if you are not a chef
						.swiper-slide 
							figure 
								.img
									a(href="#")
										img(src="./img/home-news3.png", alt="")
								figcaption
									time 21.06.2019
									a.news-title(href="") The basic principles when designing kitchens in hotel restaurants
						.swiper-slide 
							figure 
								.img
									a(href="#")
										img(src="./img/home-news1.png", alt="")
								figcaption
									time 21.06.2019
									a.news-title(href="") Grilled meat on a gas stove harmful to health
				.news-button-next
					em.mdi.mdi-chevron-right
				.news-button-prev
					em.mdi.mdi-chevron-left
								
