section.career-job 
    .career-banner 
        .container
            .img 
                img(src="./img/home/banner/home.png", alt="")
    .career-1
        .container
            h2.big-title Job Opening
            .row
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") Bussiness Man
                        span Full time - Ho Chi Minh Head Office
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") HR Excutive
                        span Full time - Followed company’s assignment
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") Accountant
                        span Full time - Ho Chi Minh Head Office
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") Designer
                        span Full time - Followed company’s assignment
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") Designer
                        span Full time - Followed company’s assignment
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") Designer
                        span Full time - Followed company’s assignment
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") Designer
                        span Full time - Followed company’s assignment
                .col-md-6.item-col
                    .item
                        h3
                            a(href="./career-detail.html") Designer
                        span Full time - Followed company’s assignment
                .col-12.pages
                    .modulepager
                        ul.pagination
                            li.active
                                a(href="#") 1
                            li
                                a(href="#") 2
                            li
                                a(href="#") 3
                
                    