section.business-page-list
	.container
		.row
			.col-lg-4.col-md-6
				.business-item
					a(href="#")
						article
							.imgbox
								img(src="./img/home/business/1.png", alt="")
							.info
								p Consult and design solutions for restaurant and hotel kitchens and operations
			.col-lg-4.col-md-6
				.business-item
					a(href="#")
						article
							.imgbox
								img(src="./img/home/business/2.png", alt="")
							.info
								p Import, distribute, install and provide warranty and maintenance businesss of industrial kitchen equipments
			.col-lg-4.col-md-6
				.business-item
					a(href="#")
						article
							.imgbox
								img(src="./img/home/business/3.png", alt="")
							.info
								p Produce customized stainless steel equipments
			.col-lg-4.col-md-6
				.business-item
					a(href="#")
						article
							.imgbox
								img(src="./img/home/business/4.png", alt="")
							.info
								p Import and distribute food & beverage smallwares and tools
			.col-lg-4.col-md-6
				.business-item
					a(href="#")
						article
							.imgbox
								img(src="./img/home/business/5.png", alt="")
							.info
								p Provide skill trainings for the F&B human resources