.business
    padding-bottom: 6rem
    .business-wrapper
        .business-title
            .title-h1 
                padding-bottom: 2rem
        .business-slider
            position: relative
            .swiper-container
                overflow: unset
                .swiper-wrapper
                    .swiper-slide
                        position: relative
                        display: inline-block
                        border: 0
                        -webkit-transition: all 200ms ease-in
                        -webkit-transform: scale(1) 
                        -ms-transition: all 200ms ease-in
                        -ms-transform: scale(1) 
                        -moz-transition: all 200ms ease-in
                        -moz-transform: scale(1)
                        transition: all 200ms ease-in
                        transform: scale(1)   
                        .img 
                            width: 100%
                            height: 360px
                            img 
                                width: 100%
                                height: 100%
                                object-fit: none
                        .slider-text
                            width: 100%
                            position: absolute
                            display: flex
                            justify-content: center
                            flex-direction: column
                            align-items: center
                            left: 50%
                            transform: translateX(-50%)
                            bottom: 30px
                            text-align: center
                            h4 
                                font-size: 16px
                                color: #ffffff
                            .detail-btn 
                                display: none
                                justify-content: center
                                align-items: center
                                width: 200px
                                height: 50px
                                background: #ffffff
                                color: #8c2004
                                font-weight: bold
                                text-transform: uppercase
                                em 
                                    margin-left: 10px
                                    color: #8c2004
                                &:hover
                                    background: #8c2004
                                    color: #ffffff
                                    transition: all .38s ease-in-out
                                    em
                                        color: #ffffff
                        
                        @media (max-width: 992px)
                            .slider-text
                                padding: 0 10px
                        &:hover 
                            // box-shadow: 0px 0px 50px #000000
                            z-index: 999
                            -webkit-transition: all 200ms ease-in
                            -webkit-transform: scale(1.2)
                            -ms-transition: all 200ms ease-in
                            -ms-transform: scale(1.2)
                            -moz-transition: all 200ms ease-in
                            -moz-transform: scale(1.2)
                            transition: all 200ms ease-in
                            transform: scale(1.2)
                            
                            .slider-text
                                .detail-btn
                                    display: flex
            .business-button-next
                position: absolute
                width: 35px
                height: 35px
                display: flex
                justify-content: center
                align-items: center
                bottom: 50%
                transform: translateY(50%)
                right: -3rem
                border: 1.5px solid #999999
                outline: none
                em 
                    color: #999999
                    font-size: 25px
                    font-weight: bold
            .business-button-prev
                position: absolute
                width: 35px
                height: 35px
                display: flex
                justify-content: center
                align-items: center
                bottom: 50%
                transform: translateY(50%)
                left: -3rem
                border: 1.5px solid #999999
                outline: none
                em 
                    color: #999999
                    font-size: 25px
                    font-weight: bold
            @media (max-width: 876px)
                .business-button-next
                    bottom: -2rem
                    right: 44%
                .business-button-prev
                    bottom: -2rem
                    left: 44%
@media (max-width: 768px)
    .business-wrapper
        padding: 0rem 2rem


