section.business
	.container
		h1.title-h1-grey business field
		.business-wrapper
			.business-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.img 
								img(src="./img/home/business/1.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/home/business/2.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/home/business/3.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/home/business/4.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/home/business/5.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
				.swiper-navigation
					.business-button-prev
						em.mdi.mdi-chevron-left
					.business-button-next
						em.mdi.mdi-chevron-right