section.project-detail-slider
    .container
        .project-detail
            .row
                .col-12
                    .swiper-container.gallery-top
                        .swiper-wrapper
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/1.jpg", alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/2.jpg", alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/3.jpg", alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/4.jpg", alt="")
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/1.jpg", alt="")
                .col-md-10.col-lg-8
                    .swiper-container.gallery-thumbs
                        .swiper-wrapper
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/1.jpg", alt="")
                                .overlay
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/2.jpg", alt="")
                                .overlay
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/3.jpg", alt="")
                                .overlay
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/4.jpg", alt="")
                                .overlay
                            .swiper-slide
                                .img
                                    img(src="./img/project/projectdetail/1.jpg", alt="")
                                .overlay
                            
                .col-12.project-info
                    .table-responsive-1
                        table
                            tbody
                                tr
                                    td Location
                                    td 17 Lê Duẩn, Bến Nghé, Quận 1, Hồ Chí Minh 070000
                                tr
                                    td Commencement
                                    td January, 2019
                                tr
                                    td Completion
                                    td May, 2019
                                tr
                                    td Construction
                                    td Sunshine Group
            .row.other-project
                .col-12
                    h3.small-title OTHER PROJECTS 
                .col-lg-4.col-md-6
                    .project-item
                        article
                            .imgbox
                                a(href="#")
                                    img(src="./img/project/1.jpg", alt="")
                            .info
                                h3
                                    a(href="#") Bakery pizza equipment
                .col-lg-4.col-md-6
                    .project-item
                        article
                            .imgbox
                                a(href="#")
                                    img(src="./img/project/2.jpg", alt="")
                            .info
                                h3
                                    a(href="#") Beverage equipment
                .col-lg-4.col-md-6
                    .project-item
                        article
                            .imgbox
                                a(href="#")
                                    img(src="./img/project/3.jpg", alt="")
                            .info
                                h3
                                    a(href="#") Cooling equipment
                                    


