section.product-list 
	.container.product-wrapper
		.row.top-wrap
			.title-h1-grey product
			.row.box-top
				.col-lg-6
					.content
						p Whatever your needs for your restaurant, the easily transportable solution for your catering services? Or the high-productvity kitchen for you hotel? Sunshine Group is the right solution for you.
				.col-lg-6
					nav.row.no-gutters
						a(href="./product-list.html") cooking equipment
						a(href="./product-list.html") warming equipment
						a(href="./product-list.html") food reparation
						a(href="./product-list.html") bakery & pizza equipment
						a(href="./product-list.html") beverage equipment
						a(href="./product-list.html") cooling equipment
						a(href="./product-list.html") Stewarding equipment
						a(href="./product-list.html") Laundry equipment
						a(href="./product-list.html") Stainless steel fabrication
						a(href="./product-list.html") Cambro
						a(href="./product-list.html") GB chemicals
		.row.list-item
			.col-12.col-lg-4.item
				figure
					a.img(href="./product-list1.html")
						img(src="./img/product-list/1.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Cooking equipment
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/2.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Warming equipment
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/3.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Food preparation
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/4.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Bakery & Pizza equipment
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/5.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Beverage equipment
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/6.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Cooling equipment
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/7.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Stewarding equipment
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/8.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Laundry equipment
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/9.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") Stainless steel fabrication
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/10.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") cambro
						a(href="./product-list1.html") view more
			.col-12.col-lg-4.item
				figure
					.img 
						img(src="./img/product-list/11.png", alt="")
					figcaption
						h3
							a(href="./product-list1.html") gb chemical
						a(href="./product-list1.html") view more
			
			

					





