section.home-project
	.container 
		h1.title-h1-grey project
		.project-wrapper
			.row 
				.col-lg-6.col-12
			  
					.project-content 
						p Our products have been the main equipment used in high-end hotel systems such as Sofitel, Novotel, Moevenpick, Hilton, Daewoo, Equatorial, Park Royal, Hide Away ... and food processing enterprise such as Kinh Do, Duc Phat, Vissan ... as well as the system of bars, restaurants and cafeterias of schools and enterprises across the country.
						a.viewmore(href="#") view all
							em.mdi.mdi-plus
				.col-lg-6.col-12
					.img 
						img(src="./img/home/project/banner.png", alt="")
						.title
							a(href="#") Sofitel Main equipment
			.project-slider
				.row 
					.swiper-container
						.swiper-wrapper
							.swiper-slide 
								a.img(href="#")
									img(src="./img/home/project/1.png", alt="")
								a.project-title(href="") Bakery pizza equipment
							.swiper-slide 
								a.img(href="#")
									img(src="./img/home/project/2.png", alt="")
								a.project-title(href="") Beverage equipment
							.swiper-slide 
								a.img(href="#")
									img(src="./img/home/project/3.png", alt="")
								a.project-title(href="") Cooling equipment
							.swiper-slide 
								a.img(href="#")
									img(src="./img/home/project/4.png", alt="")
								a.project-title(href="") Stewarding equipment
							.swiper-slide 
								a.img(href="#")
									img(src="./img/home/project/1.png", alt="")
								a.project-title(href="") Bakery pizza equipment
							.swiper-slide 
								a.img(href="#")
									img(src="./img/home/project/2.png", alt="")
								a.project-title(href="") Bakery pizza equipment
					.project-button-next
						em.mdi.mdi-chevron-right
					.project-button-prev
						em.mdi.mdi-chevron-left
				