.home-project
    padding: 4rem 0
    background: #171e26
    .title-h1-grey
        color: #ffffff
    .project-wrapper
        .project-title
        .project-content
            p
                padding: 2rem 0 2.5rem
                color: #999
            .viewall
                width: 190px
                height: 50px
                display: flex
                justify-content: center
                align-items: center
                background: none
                color: #999999
                text-transform: uppercase
                font-weight: 500
                border: 1px solid #999999
                
                em 
                    margin-left: 10px
                    font-size: 20px
                &:hover
                    color: #ffffff
                    border: 1px solid #ffffff
                    
                   
                   
                    // &:before
                    //     transform-origin: center right
                    //     transform: scaleX(1)

        @media (max-width: 1025px)
            .project-content
                padding-bottom: 1rem
        .img 
            height: 380px
            width: auto
            position: relative
            text-align: center
            margin-bottom: 2.5rem
            overflow: hidden
            img
                transition: all .3s ease-in-out
                width: 100%
                height: 100%
                object-fit: cover
            @media (max-width: 576px)
                height: auto
            .title
                width: 100%
                text-align: center
                position: absolute
                bottom: 2rem
                a
                    font-size: 24px
                    color: #929598
                    text-transform: uppercase
            &:hover
                img 
                    transform: scale(1.15)
                a
                    color: #ffffff
                    transition: all .3s ease-in-out
        .project-slider
            position: relative
            .swiper-container
                width: 100%
                .swiper-wrapper
                    .swiper-slide 
                        position: relative
                        width: 100%
                        height: 100%
                        height: 190px
                        .img 
                            height: 190px
                            width: auto
                            display: block
                            overflow: hidden
                            img 
                                transition: all .4s ease-in-out
                                height: 100% 
                                width: 100%
                                object-fit: cover
                                &:hover
                                    transform: scale(1.15)
                        .project-title
                            width: 100%
                            position: absolute
                            bottom: 2rem
                            text-align: center
                            font-size: 14px
                            text-transform: uppercase
                            color: #929598
                            
                            transition: all .3s ease-in-out
                        &:hover 
                            .project-title
                                color: #ffffff
            .swiper-navigation
                width: 110%
                display: flex
                align-items: center
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                z-index: 99
                .project-button-next,.project-button-prev
                    width: 35px
                    height: 35px
                    display: flex
                    border: none
                    outline: none
                    align-items: center
                    em 
                        color: #999999
                        font-size: 40px
                        font-weight: bold
                    &:hover 
                        em
                            color: #8c2004
                            transition: all .4s ease-in-out
                .project-button-next 
                    margin-left: auto
                @media (max-width: 992px)
                    top: 110%
                    width: 50px

            .swiper-pagination 
                display: none
            @media (max-width: 876px)
                .project-button-next
                    display: block
                    bottom: -2rem
                    right: 35%
                .project-button-prev
                    display: block
                    bottom: -2rem
                    left: 35%



