.home-product
    background: #171e26
    padding: 4rem 0
    position: relative
    z-index: 9
    .title-h1-white 
        padding-bottom: 2rem
        font-weight: 400
        
    .product-wrapper
        .product-slider1
            border-bottom: 1px solid #999999
            padding-bottom: 25px
            margin-bottom: 2rem
            .item1
                text-align: center
                .img
                    display: block
                    width: 100%
                    text-align: center
                    img 
                        transition: 0.3s ease
                        -webkit-transition: 0.3s ease
                        -moz-transition: 0.3s ease
                        backface-visibility: hidden
                        max-height: 200px
                .product-title 
                    color: #999999
                    font-size: 24px
                    text-transform: uppercase
                &:hover 
                    .product-title
                        color: #ffffff
                        transition: all .3s ease-in-out
                    .img 
                        img 
                            transform: translateY(-10px)
            @media (max-width: 1025px)
                .item1
                    flex: 0 0 100%
                    max-width: 100%
                    padding-bottom: 1rem
                
        .product-slider2
            position: relative
            .swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        text-align: center
                        .img
                            display: block
                            width: 100%
                            text-align: center
                            img 
                                transition: 0.3s ease
                                -webkit-transition: 0.3s ease
                                -moz-transition: 0.3s ease
                                backface-visibility: hidden
                                max-height: 160px
                                @media (max-width: 576px)
                                    max-height: 120px

                        .product-title 
                            color: #999999
                            font-size: 18px
                            text-transform: uppercase
                        &:hover 
                            .product-title
                                color: #ffffff
                                transition: all .3s ease-in-out   
                            .img 
                                img 
                                    transform: translateY(-10px)
            .swiper-navigation
                width: 110%
                display: flex
                align-items: center
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                z-index: 99
                .product-button-next,.product-button-prev
                    width: 35px
                    height: 35px
                    display: flex
                    border: none
                    outline: none
                    em 
                        color: #999999
                        font-size: 40px
                        font-weight: bold
                    &:hover 
                        em
                            color: #8c2004
                            transition: all .4s ease-in-out
                .product-button-next 
                    margin-left: auto
                @media (max-width: 992px)
                    top: 110%
                    width: 50px

            .swiper-pagination 
                display: none
            @media (max-width: 876px)
                .product-button-next
                    display: block
                    bottom: -2rem
                    right: 35%
                .product-button-prev
                    display: block
                    bottom: -2rem
                    left: 35%
@media (max-width: 768px)
    .product-wrapper
        padding: 0rem 2rem
