section.home-product
	.container 
		h1.title-h1-white product
		.product-wrapper
			.product-slider1
				.row
					.col-4.item1 
						a.img(href="#")
							img(src="./img/home/product/1.png", alt="")
						a.product-title(href="#") Cooking equipment
					.col-4.item1 
						a.img(href="#")
							img(src="./img/home/product/2.png", alt="")
						a.product-title(href="#") Warming equipment
					.col-4.item1 
						a.img(href="#")
							img(src="./img/home/product/3.png", alt="")
						a.product-title(href="#") Food preparation
					
						//- .swiper-container
						//-     .swiper-wrapper
						//-         .swiper-slide 
						//-             a.img(href="#")
						//-                 img(src="./img/home-product1.png", alt="")
						//-             .title
						//-                 a.product-title(href="#") Bakery & pizza equipment
						//-                 .item1-btn-next 
						//-                     em.mdi.mdi-chevron-right                                     
						//-         .swiper-slide 
						//-             a.img(href="#")
						//-                 img(src="./img/home-product1.png", alt="")
						//-             .title
						//-                 a.product-title(href="#") Bakery & pizza equipment
						//-                 .item1-btn-next 
						//-                     em.mdi.mdi-chevron-right
								
			.product-slider2
				.swiper-container
					.swiper-wrapper
						.swiper-slide 
							a.img(href="#")
								img(src="./img/home/product/7.png", alt="")
							a.product-title(href="") Bakery pizza equipment
						.swiper-slide 
							a.img(href="#")
								img(src="./img/home/product/2.png", alt="")
							a.product-title(href="") Beverage equipment
						.swiper-slide 
							a.img(href="#")
								img(src="./img/home/product/3.png", alt="")
							a.product-title(href="") Cooling equipment
						.swiper-slide 
							a.img(href="#")
								img(src="./img/home/product/4.png", alt="")
							a.product-title(href="") Stewarding equipment
						.swiper-slide 
							a.img(href="#")
								img(src="./img/home/product/5.png", alt="")
							a.product-title(href="") Bakery pizza equipment
						.swiper-slide 
							a.img(href="#")
								img(src="./img/home/product/6.png", alt="")
							a.product-title(href="") Bakery pizza equipment
				.swiper-navigation
					.product-button-prev
						em.mdi.mdi-chevron-left
					.product-button-next
						em.mdi.mdi-chevron-right
						
				

								
