.nav-1
	.container
		.row
			.col-lg-6
				h1.title-h1-grey Gallery
				p Let us design for you a safe and operationally-efficient and flexible professional kitchen facility
			.col-lg-6
				nav.row.no-gutters.tab-navigation
					a.active(href="javascript:void(0)" data-type="tab-2") Gallery
					
					a(href="javascript:void(0)" data-type="tab-1") News