
section.about-section 
    .container.vision
        .img 
            img(src="./img/about/1.jpg", alt="")
        .row
            .col-12.col-lg-6.title.content(data-aos='fade-right' data-aos-duration='900')
                .box-text
                    h2 visson
                    p Become the No. 1 distributor of kitchen equipments in Vietnam and the region
            .col-12.col-lg-6.box-img(data-aos='fade-left')
                img(src="./img/about1.png", alt="")
    .mission 
        .col-6.box-img(data-aos='fade-right' data-aos-duration='900')
            img(src="./img/about2.png", alt="")
        .col-6.content(data-aos='fade-left' data-aos-duration='900')
            h2 mission
            p Sunshine is in the mission to provide solutions for kitchen equipment with smart, sophisticated, dedicated, luxurious, trendy, leading technologies and reliable quality in the kitchen equipment industry. in Viet Nam. Therefore, Sunshine always strives to bring products to meet the needs of customers.
    .core-value
        .container
            .row
                .col-12.col-lg-6.box-text(data-aos='fade-left' data-aos-duration='900')
                    h2 core value
                    p Sunshine's core values embody the mission: "We Build Masterpiece - Not Just an Equipment Kitchen". Sunshine's level of equipment not only reflected in quality but also in harmony with the surrounding space, not stopping there, Sunshine also perfected both the quality of customer care service that brought about perfect experience on products.
                .col-12.col-lg-6.box-img(data-aos='fade-right' data-aos-duration='900')
                    img(src="./img/about3.png", alt="")
    .why
        .col-12.col-lg-6.box-img
            img(src="./img/about4.png", alt="")
        .col-12.col-lg-6.list-group(data-aos='fade-up' data-aos-duration='900')
            h2(data-aos='fade-up' data-aos-duration='900') why choose sunshine group
            ul
                li
                    p Western/Asian management for a better understanding off all kind of customer's expectations. 
                li
                    p Stock on hands availability (more than 250 machines in stock permanently at your disposal)
                li
                    p A dedicated and experienced After Sales Service Team for immediate expertise and action, supported by our Hot Line permanency 7 days per week.
                li
                    p Best International Expert's network for consultancy advises and support to biggest kitchen projects (4 & 5 stars Hotel's chain, Hotel schools, Caterers, Industrial bakeries)
              
            



    