.nav-pn
	.container
		.row
			.col-lg-6
				h1.title-h1-grey Customer
				p Let us design for you a safe and operationally-efficient and flexible professional kitchen facility
			.col-lg-6
				nav.row.no-gutters.tab-navigation
					a.active(href="javascript:void(0)" data-type="tab-1") Hotel & Resorts
					a(href="javascript:void(0)" data-type="tab-2") Group
					a(href="javascript:void(0)" data-type="tab-3") Restaurant
					a(href="javascript:void(0)" data-type="tab-4") Coffee & Bakeky
					a(href="javascript:void(0)" data-type="tab-5") Other
					