.product-detail
    padding-top: 3.75rem 
    .top 
        display: flex
        padding-bottom: 24px
        p 
            font-size: 18px
            font-weight: 500
            text-transform: uppercase
        .back 
            margin-left: auto
            padding-right: 40px
            position: relative
            font-size: 20px 
            font-weight: 600
            text-transform: uppercase
            color: #333333
            &:before 
                font: normal normal normal 18px/1 Material Design Icons
                content: '\f04d'
                font-size: 24px
                color: #333333
                position: absolute
                left: -40px
            &:after 
                content: ''
                display: block
                position: absolute
                top: 50%
                transform: translateY(-50%)
                right: 0
                background: #000000
                width: 15px
                height: 15px
    p 
        font-size: 36px
        font-weight: 300
        
