.product-detail
    .container
        .top
            h1.title-h1-grey project 
            .back
                a(href="#") back
        p Seiko Precision Parts Vietnam Factory Project
        
