.nav-new
	.container
		.row
			.col-lg-6
				p News
				h1 Let us design for you a safe and operationally-efficient and flexible professional kitchen facility
			.col-lg-6
				nav.row.no-gutters.tab-navigation
					a(href="javascript:void(0)" data-type="tab-2") Gallery
					
					a.active(href="javascript:void(0)" data-type="tab-1") News