*
	padding: 0
	margin: 0

$main: #cccccc
html
	font-family: 'Saira', sans-serif
	background-color: #ffff
	font-size: 18px
	// font-weight: 500
	color: #333333
	position: relative
body
	font-family: 'Saira', sans-serif
	overflow-x: hidden
	font-size: 18px
	position: relative
	// font-weight: 500
	background-color: #fff
	color: #333333
	&:not(.homepage)
		padding-top: 80px
		@media screen and(max-width:1360px)
			padding-top: 60px
	main 
		overflow: hidden
		// padding-top: 88px