*
	padding: 0
	margin: 0
// *
//     &::-webkit-scrollbar
//         width: 6px
//     &::-webkit-scrollbar-track
//         background: #eee
//     &::-webkit-scrollbar-thumb
//         background: #ac1f23
$main: #cccccc
html
	font-family: 'Saira', sans-serif
	background-color: #ffff
	font-size: 18px
	// font-weight: 500
	color: #333333
body
	font-family: 'Saira', sans-serif
	overflow-x: hidden
	font-size: 18px
	// font-weight: 500
	background-color: #fff
	color: #333333
	main 
		overflow: hidden
		// padding-top: 88px
.title-h1-grey
	text-transform: uppercase
	font-size: 30px
	color: #333333
	padding-bottom: 30px
	position: relative
	&:before
		content: "/"
		display: block
		position: absolute
		top: 0
		left: -1.5rem
	@media screen and(max-width:1441px)
		padding-bottom: 20px
	@media screen and(max-width:1025px)
		font-size: 24px
	@media screen and(max-width:768px)
		padding-bottom: 16px
		&:before
			left: -10px
.title-h1-white
	text-transform: uppercase
	font-size: 30px
	color: #ffffff
	padding-bottom: 30px
	position: relative
	&:before
		content: "/"
		display: block
		position: absolute
		top: 0
		left: -1.5rem
	@media screen and(max-width:1441px)
		padding-bottom: 20px
	@media screen and(max-width:1025px)
		font-size: 24px
	@media screen and(max-width:768px)
		padding-bottom: 16px
		&:before
			left: -10px
.header-wrap
	max-width: 1350px
.header-sunshine
	display: flex
	justify-content: center
	align-items: center
	font-size: 14px
