<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <showoption name="internal news" value="1"></showoption>
  <showoption name="news" value="2"></showoption>

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>

  <templatedetail xsltname="project-detail.xslt" name="Chi tiết tin"></templatedetail>


  <templatelist xsltname="project.xslt" name="Danh sách project"></templatelist>
  <templatedetail xsltname="project-detail.xslt" name="Chi tiết project"></templatedetail>

  <templatedetail xsltname="e-profile-detail.xslt" name="Chi tiết profile"></templatedetail>



  <templatelist xsltname="news.xslt" name="news list"></templatelist>
  <templatedetail xsltname="news-detail.xslt" name="News detail"></templatedetail>
  

  <templatelist xsltname="gallery.xslt" name="gallery list"></templatelist>

  <templatelist xsltname="carrer.xslt" name="carrer list"></templatelist>
  <templatedetail xsltname="carrer-detail.xslt" name="Chi tiết carrer"></templatedetail>

  <templatelist xsltname="bussiness-field.xslt" name="bussiness field list"></templatelist>
  <templatedetail xsltname="bussiness-field-detail.xslt" name="bussiness-field-detail"></templatedetail>

  <templatelist xsltname="about.xslt" name="about list"></templatelist>

  <templatelist xsltname="contact-list.xslt" name="contact list"></templatelist>
  <templatelist xsltname="history.xslt" name="history list"></templatelist>

  <templatelist xsltname="home-bussiness-field.xslt" name="home bf"></templatelist>

  <templatelist xsltname="home-project.xslt" name="home pj"></templatelist>
  <templatelist xsltname="home-project-2.xslt" name="home pj2"></templatelist>

  <templatelist xsltname="home-news.xslt" name="home news"></templatelist>

  <templatelist xsltname="customer.xslt" name="customer"></templatelist>

  <templatelist xsltname="menu-footer.xslt" name="menu-footer"></templatelist>













  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
  </position>
</templates>