section.product-nav
	.product-list1-nav#bg.bg1
		.container.product-wrapper
			.row
				.title-h1-grey product
				.row.box-top
					.col-lg-5
						.content
							p Whatever your needs for your restaurant, the easily transportable solution for your catering services? Or the high-productvity kitchen for you hotel? Sunshine Group is the right solution for you.
					.col-lg-7
						nav.row.no-gutters
							a#bg.active(href="#"  data-bg="../img/bg1.jpg") cooking equipment
							a#bg(href="#"  data-bg="../img/bg2.jpg") warming equipment
							a#bg(href="#" data-bg="../img/bg3.jpg") food reparation
							a#bg(href="#" data-bg="../img/bg4.jpg") bakery & pizza equipment
							a#bg(href="#") beverage equipment
							a#bg(href="#") cooling equipment
							a#bg(href="#") Stewarding equipment
							a#bg(href="#") Laundry equipment
							a#bg(href="#") Stainless steel fabrication
							a#bg(href="#") Cambro
							a#bg(href="#") GB chemicals