section.product-list1-nav
	.container.product-wrapper
		.row
			.title-h1-grey product
			.row.box-top
				.col-lg-6
					.content
						p Whatever your needs for your restaurant, the easily transportable solution for your catering services? Or the high-productvity kitchen for you hotel? Sunshine Group is the right solution for you.
				.col-lg-6
					nav.row.no-gutters
						a.active(href="#") cooking equipment
						a(href="#") warming equipment
						a(href="#") food reparation
						a(href="#") bakery & pizza equipment
						a(href="#") beverage equipment
						a(href="#") cooling equipment
						a(href="#") Stewarding equipment
						a(href="#") Laundry equipment
						a(href="#") Stainless steel fabrication
						a(href="#") Cambro
						a(href="#") GB chemicals