.safety-1.pb-60
	.container
		.row
			.col-12.pb-60
				.imgbox
					img(src="./img/home/business/1.jpg", alt="")
			.col-md-6
				h2.big-title Overview
			.col-md-6.textbox
				p Let us design for you a safe and operationally-efficient and flexible professional kitchen facility, considering kitchen design principles in other important areas critical to over-all restaurant operations: Flexibility & Modularity, Simplicity, Flow of Materials and Staff, Sanitation, Ease of Supervision, Space, Efficiency and Functionality.
