
section.product-list1
    .container
        .heading
            .grill
                .select 
                    select 
                        option Grill
                        option demo
                        option demo
            .order-by 
                span Sort 
                .select
                    select 
                        option(value="") Newest
                        option(value="") demo
    .list-by-cate
        .title
            .container
                p Grill
        .container
            .row.contain
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/1.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/2.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/3.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/4.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/5.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/6.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/7.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/8.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/9.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/10.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/11.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/12.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/13.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
                .col-sm-6.col-lg-3
                    .figure-product
                        .figure-image
                            a(href="./product-detail.html")
                                img(src="./img/product-list1/14.png", alt="")
                        figcaption
                            .top-caption
                                h2 
                                    a(href="./product-detail.html") Sef 8000
                                h3 
                                    a Electric Salamander -Fixed TopElectric Salamander -Fixed Top

                