section.business
	.container
		h1.title-h1-grey business field
		.business-wrapper
			.business-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.img 
								img(src="./img/business1.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/business2.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/business3.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/business4.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
						.swiper-slide
							.img 
								img(src="./img/business5.png", alt="")
							.slider-text
								h4 Consult and design solutions
								a.detail-btn(href="#") detail
									em.mdi.mdi-plus
				.business-button-next
					em.mdi.mdi-chevron-right
				.business-button-prev
					em.mdi.mdi-chevron-left