section.history-nav
	.container.aboutus-wrapper
		.row
			.title-h1-grey Partners
			.row.box-top
				.col-lg-6
					.content
						p Let us design for you a safe and operationally-efficient and flexible professional kitchen facility
				.col-lg-6
					nav.row.no-gutters
						a(href="#") overview
						a(href="./history.html") history 
						a(href="#") quality policy
						a(href="#") E - profile
						a.active(href="./partners.html") Partners