extends _layout.pug

block var
    - var title = 'Contact'
    - var bodyClass = 'Contact-page'

block main
    include ../components/contact/banner/index
    include ../components/contact/index