extends _layout.pug

block var
	- var title = 'Đối tác - khách hàng'
	- var bodyClass = 'doiac-khachhang-page'

block main
	include ../components/customer/nav-pn/index
	include ../components/customer/index