extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/nav/nav-business-detail.pug
	include ../components/field-business-detail/index.pug