extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'homepage'

block main
	include ../components/home/banner/index
	include ../components/home/about/index
	include ../components/home/business/index
	include ../components/home/product/index
	include ../components/home/project/index
	include ../components/home/news/index
	include ../components/home/home-partner/index
	