extends _layout.pug

block var
	- var title = 'partners'
	- var bodyClass = 'partners-page'

block main
	include ../components/partners/partner-nav/index.pug
	include ../components/partners/partner.pug
	