extends _layout.pug

block var
    - var title = 'Product-list1'
    - var bodyClass = 'Product-list1-page'
block main
    include ../components/product-list1/nav-top/index
    include ../components/product-list1/list/index
    