extends _layout.pug
block var
	- var title = 'Project-detail'
	- var bodyClass = 'Projectdetail-page'
block main
	include ../components/project-detail/top/index
	include ../components/project-detail/slider/index
