section.history-nav
	.container.aboutus-wrapper
		.row
			.title-h1-grey History
			.row.box-top
				.col-lg-6
					.content
						p Let us ENHANCE THE DIFFERENCE - bring new experiences to your business, more than just buying an equipment
				.col-lg-6
					nav.row.no-gutters
						a(href="#") overview
						a.active(href="./history.html") history 
						a(href="#") quality policy
						a(href="#") E - profile
						a(href="./partners.html") Partners