section.contact-information
	.container
		.row
			.col-xl-3
				.contact-information-wrapper(setbackground='./img/bg-contact.jpg')
					.row
						.col-12
							h1 Sunshine
						.col-12
							.location
								.box
									.icon
										em.mdi.mdi-home
									.caption
										p.text HoChiMinh City 
										p.text 47-49 (Old add: 292-294) Phan Xich Long Str, Ward 2, PhuNhuan Dist. 
								.box
									.icon
										em.mdi.mdi-phone
									.caption 
										span Tel :
										p.text  (+84 28) 35171086 / 35171087 
									.caption
										span Fax :
										p.text (+84 28) 35171089 
							.location
								.box
									.icon
										em.mdi.mdi-home
									.caption
										p.text HaNoi City
										p.text  37 Hong Phuc Str., Nguyen Trung Truc Ward, Ba Dinh Dist. 
								.box
									.icon
										em.mdi.mdi-phone
									.caption 
										span Tel :
										p.text  (+84 24) 37101129
									.caption
										span Fax :
										p.text (+84 24) 39271547 
							.location
								.box
									.icon
										em.mdi.mdi-home
									.caption
										p.text Cambodia
										p.text  No.09, Street 604, Sangkat Beoung Kak II, Khan Toul Kork, Phnom Penh, Cambodia  
								.box
									.icon
										em.mdi.mdi-phone
									.caption 
										span Tel :
										p.text  (+855) 23993812
									.caption
										span Fax :
										p.text (+855) 23993813 
						
			.col-xl-9.form-wrapper
				h2 Contact us
				h3 Get in touch with us. Just use the form below and we'll get back to you as soon as we can.

				.wrap-form
					.row
						.form-group.col-12.col-lg-6
							label Name
							input.form-control(type='text')
						.form-group.col-12.col-lg-6
							label Phone
							input.form-control(type='text')
						.form-group.col-12.col-lg-6
							label Email
							input.form-control(type='text')
						.form-group.col-12.col-lg-6
							label Address
							input.form-control(type='text')
						.form-group.col-12
							label MESSAGE
							textarea#inpputTextArea.form-control(rows='5')
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="Send")