section.partner-swiper
	.container
		.news-title 
			h1.title-h1-grey Partners 
		.partnet-swiper-wrapper
			.navigation-partner-prev
				em.mdi.mdi-chevron-left
			.navigation-partner-next
				em.mdi.mdi-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo1.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo2.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo3.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo4.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo5.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo6.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo7.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo8.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo9.jpg", alt="")
					.swiper-slide
						.swiper-image
							img(src="./img/logo/logo10.jpg", alt="")
					