section.home-slider1(data-aos="fade-right")
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.img 
					img(src="./img/home/banner/banner-1.png", alt="")
				.text 
			.swiper-slide
				.img 
					img(src="./img/home/banner/banner-2.jpg", alt="")
				.text 
			.swiper-slide
				.img 
					img(src="./img/home/banner/banner-3.png", alt="")
				.text 
