section.home-slider1
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.img 
					img(src="./img/home/banner/home.png", alt="")
				.text 
			.swiper-slide
				.img 
					img(src="./img/home/banner/home.png", alt="")
				.text 
					h2 We Build Masterpiece - Not Just an equipment Kitchen
