section.product-information-detail
	.container
		.title-h1-grey Tms -1h
		.row
			.col-lg-7
				.information-swiper-wrapper
					.swiper-product-top
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h01.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h02.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h03.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h04.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h05.jpg", alt="")
								
					.swiper-product-thumb
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h01.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h02.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h03.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h04.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/pro-detail/h05.jpg", alt="")
								
			.col-lg-5
				.product-information-wrapper
					.info 
						p.title Movable Electric Salamander
						strong.code Sef 8000
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, excepturi incidunt. 
						strong Strong points
						ul 
							li 
								p 470-lb. maximum daily ice production

							li
								p 375-lb. AHRI-certified daily ice production

							li
								p Makes full-size cube ice

							li
								p Full-cube ice size: 7⁄8 in. x 7⁄8 in. x 7⁄8 in.

							li 
								p Operated with easyTouch® touchscreen display
							li 
								p Programmable by time and ice volume
							li 
								p 24-hr. preventative maintenance and diagnosis
							li 
								p Acoustical ice sensing probe detects ice density
							li 
								p Removable water-trough, distribution tube, curtain, water probe, and water pump
						
							









					//- .hot-line-wrapper
					//- 	p Contact us if you need project advice. 
					//- 	p Hotline
					//- 		a(href="tel:0919170173") 0919 170 173
					.button-wrapper
						.check-out-button
							a(href="#") Contact
						.social-network-wrapper
							p Share
							.social-button
								a(href="#")
									em.fab.fa-facebook-f
					
	.product-tab-wrapper
		.tab-navigation-wrapper
			.container
				ul
					li.active
						a(href="javascript:void(0)" data-type="tab-1") Product information
					li
						a(href="javascript:void(0)" data-type="tab-2") Download & Document
					li
						a(href="javascript:void(0)" data-type="tab-3") Product Family
					li
						a(href="javascript:void(0)" data-type="tab-4") Accessories
					li
						a(href="javascript:void(0)" data-type="tab-5") Gallery
		.container
			.tab-wrapper
				.tab-item#tab-1.active
					table
						tbody
							tr
								td Product Name
								td Movable Electric Salamander
							tr
								td Code
								td 120560
							tr
								td Power
								td 3.6 Kw 
							tr
								td Voltage
								td 230v/50 Hz
							tr
								td Color
								td Grey, Red
							tr
								td Capacity
								td  1000ml
							tr
								td Temperature
								td  250
							tr
								td Weight
								td  25kg
							tr
								td Brand
								td Hatco
							tr
								td Origin
								td US
							tr
								td Dimension
								td  600 x 503 x 515mm
					.tong-quan
						.content 
							p 
								strong Movable Electric Salamander 
								| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem ea aliquid qui ullam tempora aperiam magnam, maxime placeat facilis dolore quos ab id, laboriosam quia atque mollitia et laborum ut.
						.image
							img(src="./img/tong-quan.jpg", alt="")
				.tab-item#tab-2
					.download-file
						p.title Download
						a
							em.mdi.mdi-file-pdf
							| Brochure.pdf
						a
							em.mdi.mdi-file-pdf
							| Manuals.pdf
						
				.tab-item#tab-3
					.product-family 
						.row.product-wrapper
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/product-list1/1.png", alt="")
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/product-list1/2.png", alt="")
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/product-list1/3.png", alt="")
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.product-item-category
								.figure-image
									a(href="#")
										img(src="./img/product-list1/4.png", alt="")
								figcaption
									.top-caption
										h2 
											a Sef 8000
										h3 
											a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
				.tab-item#tab-4
					.access 
						.list-item 
							.item
								figure
									.img
										img(src="./img/home/product/3.png", alt="")
									figcaption
										a(href="#") demo
							.item
								figure
									.img
										img(src="./img/home/product/3.png", alt="")
									figcaption
										a(href="#") demo
							.item
								figure
									.img
										img(src="./img/home/product/3.png", alt="")
									figcaption
										a(href="#") demo
							.item
								figure
									.img
										img(src="./img/home/product/3.png", alt="")
									figcaption
										a(href="#") demo
							.item
								figure
									.img
										img(src="./img/home/product/3.png", alt="")
									figcaption
										a(href="#") demo
				.tab-item#tab-5
					.gallery 
						.row
							.col-sm-6.col-lg-3
								.figure-lightgallery
									.figure-image.lightgallery
										a(href="./img/news/1.jpg")
											img(src="./img/news/1.jpg", alt="")
									figcaption
										p.title
											a(href="./news-detail.html") Manual 
	.others-project
		.white-title-bg-grey
			.container
				p Similar product
		.container
			.row.contain
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/home/product/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a(href="#") Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										em.mdi.mdi-cart
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/home/product/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a(href="#") Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										em.mdi.mdi-cart
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/home/product/5.png", alt="")
						figcaption
							.top-caption
								h2 
									a(href="#") Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										em.mdi.mdi-cart
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/home/product/6.png", alt="")
						figcaption
							.top-caption
								h2 
									a(href="#") Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										em.mdi.mdi-cart