section.aboutus-nav
	.container.aboutus-wrapper
		.row
			.title-h1-grey(data-aos='fade-down' data-aos-duration='1500') overview
			.row.box-top
				.col-lg-6
					.content
						p Leaded by the aspiration of becoming a pioneer in providing comprehensive and effective solutions for entrepreneurs in the Food & Beverage (F&B) industry, including qualified products and services, we have been constantly trying our bests to respond to all customer's needs, as well as contributing to the development of the culinary business in Vietnam and in Cambodia.
				.col-lg-6
					nav.row.no-gutters
						a.active(href="#") overview
						a(href="./history.html") history 
						a(href="#") quality policy
						a(href="#") E - profile
						a.partner(href="javascript:void(0)") Partners
                
							