section.about-sunshine(setBackground='./img/about-bg.png')
	.about-wrapper
		.container
			h1.title-h1-grey about sunshine group
			.row
				.col-lg-9.col-12
					.about-content
						p Established in 2009, Sunshine Equipment was known as an importer and distributor of industrial kitchen, bar and laundry equipments of well-known brands in the world.
						.about-item 
							.row
								.col-4.item 
									.img 
										img(src="./img/about-icon1.png", alt="")
									p Western/Asian management for a better understanding off all kind of customer’s expectations.
								.col-4.item 
									.img 
										img(src="./img/about-icon2.png", alt="")
									p A dedicated and experienced After Sales Service Team for  immediate expertise and action, supported by our Hot Line permanency 7 days per week.
								.col-4.item
									.img 
										img(src="./img/about-icon3.png", alt="")
									p Best International Expert’s network for consultancy, advises and support to biggest kitchen projects.
				.col-lg-3.col-12 
					.img 
						img(src="./img/about-banner.png", alt="")





				