//- section.partners
//-     .container 
//-         h1.title partners
//-         .doitac-slider 
//-             .swiper-container
//-                 .swiper-wrapper 
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo1.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") bravilor bonamat
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo2.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") ahidiai
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo3.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") gel matic
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo4.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") fry
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo5.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") hamilton beach
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo6.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") hatsuyuki
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo7.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") liebherr
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo8.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") imperia
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo9.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") useful innovation
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo10.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") metaltecnica
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo1.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") bravilor bonamat
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo2.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") ahidiai
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo3.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") gel matic
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo4.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") fry
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo5.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") hamilton beach
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo6.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") hatsuyuki
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo7.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") liebherr
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo8.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") imperia
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo9.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") useful innovation
//-                     .swiper-slide
//-                         .item
//-                             img(src="./img/logo/logo10.jpg", alt="") 
//-                             .overlay 
//-                                 a(href="#") metaltecnica
                    