.partners-wrapper.active
    .container 
        .doitac-slider 
            .swiper-container
                .swiper-wrapper 
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo1.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo2.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo3.jpg", alt="") 
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo4.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo5.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo6.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo7.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo8.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo9.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo10.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo1.jpg", alt="") 
                           
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo2.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo3.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo4.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo5.jpg", alt="") 
                          
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo6.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo7.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo8.jpg", alt="") 
                           
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo9.jpg", alt="") 
                            
                    .swiper-slide.col
                        .item
                            img(src="./img/logo/logo10.jpg", alt="") 
                .view-more-brand
                    a
                        span View more
                        em.mdi.mdi-chevron-down
                          
            
            //- .partner-button-next
            //-     em.mdi.mdi-chevron-right
            //- .partner-button-prev
            //-     em.mdi.mdi-chevron-left