.nav-career 
    .container 
        .row 
            .col-lg-6 
                p.career-title career
                h1 For People - For Future Generations
            .col-lg-6.sub-title
                p Sunshine always cares about maintaining a comfortable working environment, fun and healthy competition

