.nav-career
    padding: 3.75rem 0
    .career-title 
        font-size: 16px
        font-weight: 600
        color: #333333
        text-transform: uppercase
    h1 
        font-size: 18px
        font-weight: 300
    .sub-title 
        display: flex
        align-items: center
        p 
            font-weight: 300