.footer-wrapper-top
    .container
        .row
            .col-sm-6.col-lg-3
                .logo-text
                    p Sunshine group
            .col-sm-6.col-lg-3
                h2 Ho Chi Minh City
                p Add: 47-49 (Old No. 292) Phan Xich Long St., Ward 2, Phu Nhuan Dist.
                p Tel : (+84 28) 35171086 / 35171087
                    br
                    | Fax : (+84 28) 35171089
            .col-sm-6.col-lg-3
                h2 Ha Noi City
                p Add: 37 Hong Phuc St., Nguyen Trung Truc Ward, Ba Dinh Dist.
                p Tel : (+84 24) 37101129
                    br
                    | Fax : (+84 24) 39271547
            .col-sm-6.col-lg-3
                h2 Cambodia
                p Add: No.09, Street 604, Sangkat Beoung Kak II, Khan Toul Kork, Phnom Penh, Cambodia
                p Tel : (+84 28) 35171086 / 35171087
                    br
                    | Fax : (+84 28) 35171089