.partners-wrapper
    .container 
        .doitac-slider 
            .swiper-container
                .swiper-wrapper 
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo1.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo2.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo3.jpg", alt="") 
                           
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo4.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo5.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo6.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo7.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo8.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo9.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo10.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo1.jpg", alt="") 
                           
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo2.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo3.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo4.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo5.jpg", alt="") 
                          
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo6.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo7.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo8.jpg", alt="") 
                           
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo9.jpg", alt="") 
                            
                    .swiper-slide
                        .item
                            img(src="./img/logo/logo10.jpg", alt="") 
section.history-section 
    .container 
        .img 
            img(src="./img/about/4.jpg", alt="")
        .row.box-text
            .col-12.col-lg-6.title
                h2 History of development
            .col-12.col-lg-6
                p Established in 2009, Sunshine Equipment was known as an importer and distributor of industrial kitchen, bar and laundry equipments of well-known brands in the world. Along with our development, guided by our long-term vision, nowadays, Sunshine Group is focusing on investing in 5 key areas of the industry, including:
                ul
                    li
                        p Consult and design solutions for restaurant and hotel kitchens and operations,
                    li
                        p Import, distribute, install and provide warranty and maintenance services of industrial kitchen equipments;
                    li
                        p Produce customized stainless steel equipments;
                    li
                        p Import and distribute food & beverage smallwares and tools;
                    li
                        p     Provide skill trainings for the F& B human ressources. 
                p Always focusing on satisfying customer's needs, we have uo Dsinog shem been continuously making efforts to create sustainable values or our customers. By always accompanying our customers in their business, finding out the most suitable solution for the sake of the customers, we did get their trust through long term cooperations, in Vietnam as well as in Cambodia. SPsF