<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Menu footer1" value="2" resourcefile="" />
      <add name="Menu footer2" value="4" resourcefile="" />
      <add name="Menu footer3" value="8" resourcefile="" />
      <add name="Menu footer4" value="16" resourcefile="" />
      <add name="Product nav" value="32" resourcefile="" />
      <add name="Project nav" value="64" resourcefile="" />
      <add name="news nav" value="128" resourcefile="" />
      <add name="gallery nav" value="256" resourcefile="" />
      <add name="carrer nav" value="512" resourcefile="" />
      <add name="bussiness field" value="1024" resourcefile="" />
      <add name="about nav" value="2048" resourcefile="" />
      <add name="home product" value="4096" resourcefile="" />
      <add name="Customer" value="8192" resourcefile="" />

      <add name="footer field" value="16384" resourcefile="" />













    </position>

</settings>