section.new-wrapper
    .career-2
        .container
            .row.career-news-list.tab-item#tab-1.active
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/1.jpg", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") Industrial Kitchen Equipment — Types Of Kitchen Equipment You Need For Your Kitchen 
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/2.png", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") Grilled meat on a gas stove harmful to health 
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/3.png", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") How to manage kitchen, industrial and collective kitchens if you are not a chef 
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/4.png", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") The basic principles when designing kitchens in hotel restaurants
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/5.jpg", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass 
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/6.jpg", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") 5 sets of kitchen equipment are indispensable
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/7.jpg", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") This unused reasons will reduce your harmful kitchen
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-sm-6.col-md-3
                    article.career-news-item
                        .imgbox
                            a(href="./news-detail.html")
                                img(src="./img/news/8.jpg", alt="")
                        .info
                            h3
                                a(href="./news-detail.html") Tip of kitchen kitchen, electric kitchen from clean ballet
                            .sub-title 
                                a(href="") View more
                                    em.mdi.mdi-chevron-right
                .col-12.pages
                    .modulepager
                        ul.pagination
                            li.active
                                a(href="#") 1
                            li
                                a(href="#") 2
                            li
                                a(href="#") 3
            .tab-item#tab-2
                .row
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/1.jpg")
                                    img(src="./img/news/1.jpg", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/2.png")
                                    img(src="./img/news/2.png", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/3.png")
                                    img(src="./img/news/3.png", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/4.png")
                                    img(src="./img/news/4.png", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/5.jpg")
                                    img(src="./img/news/5.jpg", alt="")
                                a(href="./img/news/2.jpg")
                                    img(src="./img/news/2.jpg", alt="")
                                a(href="./img/news/3.jpg")
                                    img(src="./img/news/3.jpg", alt="")
                                a(href="./img/news/4.jpg")
                                    img(src="./img/news/4.jpg", alt="")
                                a(href="./img/news/5.jpg")
                                    img(src="./img/news/5.jpg", alt="")
                                a(href="./img/news/6.jpg")
                                    img(src="./img/news/6.jpg", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/6.jpg")
                                    img(src="./img/news/6.jpg", alt="")
                                a(href="./img/news/2.jpg")
                                    img(src="./img/news/2.jpg", alt="")
                                a(href="./img/news/3.jpg")
                                    img(src="./img/news/3.jpg", alt="")
                                a(href="./img/news/4.jpg")
                                    img(src="./img/news/4.jpg", alt="")
                                a(href="./img/news/5.jpg")
                                    img(src="./img/news/5.jpg", alt="")
                                a(href="./img/news/6.jpg")
                                    img(src="./img/news/6.jpg", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/7.jpg")
                                    img(src="./img/news/7.jpg", alt="")
                                a(href="./img/news/2.jpg")
                                    img(src="./img/news/2.jpg", alt="")
                                a(href="./img/news/3.jpg")
                                    img(src="./img/news/3.jpg", alt="")
                                a(href="./img/news/4.jpg")
                                    img(src="./img/news/4.jpg", alt="")
                                a(href="./img/news/5.jpg")
                                    img(src="./img/news/5.jpg", alt="")
                                a(href="./img/news/6.jpg")
                                    img(src="./img/news/6.jpg", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-sm-6.col-lg-3
                        .figure-lightgallery
                            .figure-image.lightgallery
                                a(href="./img/news/8.jpg")
                                    img(src="./img/news/8.jpg", alt="")
                                a(href="./img/news/2.jpg")
                                    img(src="./img/news/2.jpg", alt="")
                                a(href="./img/news/3.jpg")
                                    img(src="./img/news/3.jpg", alt="")
                                a(href="./img/news/4.jpg")
                                    img(src="./img/news/4.jpg", alt="")
                                a(href="./img/news/5.jpg")
                                    img(src="./img/news/5.jpg", alt="")
                                a(href="./img/news/6.jpg")
                                    img(src="./img/news/6.jpg", alt="")
                            figcaption
                                p.title
                                    a(href="./news-detail.html") Burner technology for welding "Seal Burner" glass
                    .col-12.pages
                        .modulepager
                            ul.pagination
                                li.active
                                    a(href="#") 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3