.nav-2
	.container

		nav.row.no-gutters
			a(href="/") Board of Directors
			a(href="#") General Managers
			a(href="#") Section Managers
			a.active(href="#") Organization Chart
		h2.small-title Categories
		select(data-nav)
			option(value="/") Board of Directors
			option(value="#") General Managers
			option(value="#") Section Managers
			option(value="#" selected) Organization Chart