.nav-3
	.container
		nav
			a(href="#") 2018
			a(href="#") 2018
			a(href="#") 2018
			a(href="#") 2018
			a.active(href="#") 2018
			a(href="#") 2018
			a(href="#") 2018
			a(href="#") 2018
			a(href="#") 2018
		select(data-nav)
			option(value="/") 2018
			option(value="#") 2018
			option(value="#") 2018
			option(value="#") 2018
			option(value="#" selected) 2018
			option(href="#") 2018
			option(href="#") 2018
			option(href="#") 2018
			option(href="#") 2018