.nav-1.pd-60
	.container
		.row
			.col-lg-6
				p Consult and design solutions for restaurant and hotel kitchens and operations
				h1 Let us design for you a safe and operationally-efficient and flexible professional kitchen facility
			.col-lg-6
				nav.row.no-gutters
					a(href="/") overview
					a(href="#") overview
					a(href="#") overview
					a.active(href="#") overview
					a(href="#") overview
					a(href="#") overview
				select(data-nav)
					option(value="/") overview
					option(value="#") overview
					option(value="#") overview
					option(value="#" selected) overview
					option(value="#") overview
					option(value="#") overview
			.col-12.pt-60
				.imgbox
					img(src="./img/information/1.jpg", alt="")