section.product-by-category
	.container.product-by-category-wrapper
		ul
			li.active
				.title-caption
					span.title  cooking equipment
					a(href="#") View all
				.row.product-wrapper.active
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  deep fryer
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  grill
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  amicus
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  meritus
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  grandis
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  oriental cooker
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  cooker
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  combi oven
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  multifunction oven
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  multifunction oven
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  rotisseries
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  ventless machine
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			li
				.title-caption
					span.title  other cooking equipment
					a(href="#") View all
				.row.product-wrapper
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/1.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/2.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
					.product-item-category
						.figure-image
							a(href="./product-list1.html")
								img(src="./img/product-list1/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top	
			